{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% for chronique in chroniques %}
                    <div class="card chroniqueAdministration">
                        <h5 class="card-header">Chronique du : {{chronique.date|date("d.m.Y")}}</h5>
                        <div class="card-body">
                            <h5 class="card-title">{{chronique.titre|raw}}</h5>
                            <p class="card-text">{{chronique.contenu|slice(0, 100)|raw }}</p>
                            <a href="{{ path('modify_chronique', {'id': chronique.id}) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('delete_chronique', {'id': chronique.id}) }}" class="btn btn-primary">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
                <a href="{{ path('add_chronique') }}" class="btn btn-primary boutonAjouterChronique">Ajouter une nouvelle chronique</a>
                <a href="{{ path('add_bd') }}" class="btn btn-primary boutonAjouterChronique">Ajouter une nouvelle BD au top 5</a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                {% if wishlist is null  %}
                    <p>Vous n'avez pas encore de wishlist</p>
                {% else %}
                    <h3>Ma wishlist</h3>
                    {% for bandeDessinee in wishlist.getBandeDessinee() %}
                        <p>{{ bandeDessinee.titre}}</p>
                        <a href="{{ path('deletebdwishlist', {'id': bandeDessinee.id}) }}" class="btn btn-primary">Supprimer</a>
                    {% endfor %}
                {% endif %}  
            </div>
        </div>
    </div>
    
{% endblock %}
