{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div clas="row">
            <div class="col titreCrud">
                {{ form_start(form_bd, {'attr' : {'novalidate': 'novalidate'}}) }}
                    <h3>{{ form_title }}</h3>
                    {{ form(form_bd) }}
                {{ form_end(form_bd) }}
            </div>
             <a href="{{ path("admin") }}" class="btn btn-primary boutonRetourAdmin">Retour</a>
        </div>
    </div>
{% endblock %}