{% extends 'base.html.twig' %}

{% block title %}Chronique{% endblock %}

{% block body %}
    <p>accueil</p>
    <p>Bienvenue dans les chroniques !</p>
    <a href="{{ path('add_chronique') }}">Ajouter</a>
    <a href="{{ path('modify_chronique', {'id': chronique.id}) }}">Modifier</a>
    <a href="{{ path('delete_chronique', {'id': chronique.id}) }}">Supprimer</a>
        <div class="card">
            <div class="card-header">
                {{ chronique.Date |date }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ chronique.titre }}</h5>
                <p class="card-text">{{ chronique.contenu|raw }}</p>
            </div>
        </div>
    <h1>Commenter</h1>
    {{ form(form) }}
{% endblock %}
