{% extends 'base.html.twig' %}

{% block title %}Chronique{% endblock %}

{% block body %}
    <header class="masthead" style="background-image: src="{{ asset('image/'~chronique.image|e) }}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ chronique.titre }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ chronique.titre }}</h5>
                        <img src="{{ asset('image/'~chronique.image|e) }}" style="max-width: 150px;">
                    </div>
                    <div class="card-body textChronique">
                        <p>Publié le : {{ chronique.Date |date("d.m.Y") }}</p>
                        <p class="card-text">{{ chronique.contenu|raw }}</p>
                        <a href="{{ path("main") }}"  class="btn btn-primary">Accueil des chroniques</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container commentaires">
        <h2 class="titre">Commentaire</h2>
        {{ form(form) }}
        <p class="nombreDeCommentaire">Il y a {{ commentaires.getTotalItemCount }} commentaire(s)</p>
        {% for commentaire in commentaires %}
            <p class="PseudoDuCommentaire">Par : {{ commentaire.name }}</p>
            <p class="contenuDuCommentaire">{{ commentaire.contenu|raw }}</p>
        {% endfor %}
    </div>

    <div class="container">
        <div class="pagination">
            <p>{{ knp_pagination_render(commentaires) }}</p>
        </div>
    </div>
{% endblock %}
