{% extends 'base.html.twig' %}

{% block title %}Chronique{% endblock %}

{% block body %}
    <p>accueil</p>
    <p>Bienvenue dans les chroniques !</p>
        <p>{{ chronique.titre|raw }}</p>
        <p>{{ chronique.contenu|raw }}</p>
        <p>{{ chronique.date|date }}</p>
    <h1>Commenter</h1>
        {{ form(form) }}
        {% for commentaire in commentaires %}
            <p>{{ commentaire.contenu }}</p>
        {% endfor %}
{% endblock %}
